{% extends 'blog/base1.html' %}

{% load static %}

{% block content %}
    
    <header class="header">
        <!-- Main Navbar-->
        <nav class="navbar navbar-expand-lg">
        <div class="search-area">
            <div class="search-area-inner d-flex align-items-center justify-content-center">
            <div class="close-btn"><i class="icon-close"></i></div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                
                    <div class="form-group">
                    <form name="Searchform" method="GET" action="{% url 'search' %}" class="search-form">
                        <input type="search" name="search" placeholder="What are you looking for?">
                        <button type="submit" class="submit"><i class="icon-search" value="search"></i></button>
                    </form>
                    </div>
                
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <!-- Navbar Brand -->
            <div class="navbar-header d-flex align-items-center justify-content-between">
            <!-- Navbar Brand --><a href="/" class="navbar-brand">Iha Consulting Services</a>
            <!-- Toggle Button-->
            <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
            </div>
            <!-- Navbar Menu -->
            <div id="navbarcollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="{% url 'post' %}" class="nav-link ">Blogs</a>
                    </li>
                    <li class="nav-item"><a href="{% url 'contact1' %}" class="nav-link ">Contact us</a>
                    </li>
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link ">Sign in</a>
                    </li>
                    <li  class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}"><strong><em> &nbsp; &nbsp;Get Started</strong></em></a>
                    </li>
                </ul>
            <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
            <!-- <ul class="langs navbar-text"><a href="#" class="active">EN</a><span>           </span><a href="#">ES</a></ul> -->
            </div>
        </div>
        </nav>
    </header>


    <!-- Hero Section-->
    <section style="background: url({% static 'img/hero.jpg' %}); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1>"When you saw only one set of footprints, it was then that I carried you"</h1>
          </div>
        </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
      </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="h3">Iha Consulting Services helps clients reinvent their operating models to enhance productivity
              and get competitive advancements in global markets.</h3>
            <p class="text-big">Iha Consulting Services is conceived, designed and promoted as a multidisciplinary consultancy firm supported by professionals, who have extensive experience in the areas of technology and business management. The Iha Consulting Services is a Pvt. Ltd Company established in the year 2006, mainly works on helping businesses in general and SMEs in particular to reinvent their operating models to enhance productivity and get a competitive advantage in global markets.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="featured-posts no-padding-top">
      <div class="container">
        <!-- Post-->
        <div class="row d-flex align-items-stretch">
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <!-- <div class="category"><a href="#">Business</a><a href="#">Technology</a></div><a href="#"> -->
                    <h2 class="h4">Alberto Savoia Can Teach You About Interior</h2></a>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrude consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                <!-- <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{% static "img/avatar-1.jpg" %}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>John Doe</span></div></a>
                  <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                  <div class="comments"><i class="icon-comment"></i>12</div>
                </footer> -->
              </div>
            </div>
          </div>
          <div class="image col-lg-5"><img src="{% static "img/featured-pic-1.jpeg" %}" alt="..."></div>
        </div>
        <!-- Post        -->
        <div class="row d-flex align-items-stretch">
          <div class="image col-lg-5"><img src="{% static "img/featured-pic-2.jpeg" %}" alt="..."></div>
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <!-- <div class="category"><a href="#">Business</a><a href="#">Technology</a></div><a href="#"> -->
                    <h2 class="h4">Alberto Savoia Can Teach You About Interior</h2></a>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrude consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                <!-- <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{% static "img/avatar-2.jpg" %}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>John Doe</span></div></a>
                  <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                  <div class="comments"><i class="icon-comment"></i>12</div>
                </footer> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Post                            -->
        <div class="row d-flex align-items-stretch">
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <!-- <div class="category"><a href="#">Business</a><a href="#">Technology</a></div><a href="#"> -->
                    <h2 class="h4">Alberto Savoia Can Teach You About Interior</h2></a>
                </header>
                <p>123 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrude consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                <!-- <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{% static "img/avatar-3.jpg" %}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>John Doe</span></div></a>
                  <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                  <div class="comments"><i class="icon-comment"></i>12</div>
                </footer> -->
              </div>
            </div>
          </div>
          <div class="image col-lg-5"><img src="{% static "img/featured-pic-3.jpeg" %}" alt="..."></div>
        </div>
      
      </div>
    </section>
    <!-- Divider Section-->
    <section style="background: url({% static 'img/divider-bg.jpg' %}); background-size: cover; background-position: center bottom" class="divider">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2>Our professionals have extensive experience in the areas of technology and business management.</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Posts -->
    <section class="latest-posts"> 
      <div class="container">
        <header> 
          <h2>Latest from the blog</h2>
          <p class="text-big">Do see the latest blogs posted by our users...</p>
        </header>
        <div class="row">
          {% for post in most_recent %}
            <div class="post col-md-4">
              <div class="post-thumbnail">
                <!-- <a href="#">
                  <img src="{{ obj.thumbnail.url }}" alt="..." class="img-fluid">
                </a> -->
                <a href="{{ post.get_absolute_url }}">
                  {% if post.image %}
                      <img src="{{ post.image.url }}" alt="..." class="img-fluid">
                  {% else %}
                      <img src="https://www.yourdictionary.com/images/definitions/lg/6267.information.jpg" alt="..." class="img-fluid">
                  {% endif %}
                </a>
              </div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="date">{{ post.date }}</div>
                  <div class="category">
                    <!-- {% for cat in obj.categories.all %}
                      <a href="#">{{ cat }}</a>
                    {% endfor %} -->
                  </div>
                </div>
                <a href="#">
                  <h3 class="h4">{{post.title|truncatechars:20}}</h3>
                </a>
                <p class="text-muted">For more details about "{{post.title}}" post click to image we will redirect  you to deatils page of post.... </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    
    <!-- Gallery Section-->
    <section class="gallery no-padding">    
      <div class="row">
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{% static "img/gallery-1.jpg" %}" data-fancybox="gallery" class="image"><img src="{% static "img/gallery-1.jpg" %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{% static "img/gallery-2.jpg" %}" data-fancybox="gallery" class="image"><img src="{% static "img/gallery-2.jpg" %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{% static "img/gallery-3.jpg" %}" data-fancybox="gallery" class="image"><img src="{% static "img/gallery-3.jpg" %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{% static "img/gallery-4.jpg" %}" data-fancybox="gallery" class="image"><img src="{% static "img/gallery-4.jpg" %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
      </div>
    </section>
    
{% endblock content %}