{% load static %}
<!-- Page Footer-->
<footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="logo">
            <h6 class="text-white">Iha Consulting Services Pvt. Ltd</h6>
          </div>
          <div class="contact-details">
            <p>1-8-450/A9, Ground Floor, Indian Airlines Colony, Patigadda, Begumpet, Hyderabad, Telangana 500016</p>
            <p>Phone: 040-48538611<br>
              040-48538711</p>
            <p>Email: <a href="mailto:info@ihaconsulting.in">info@ihaconsulting.in</a></p>
            <ul class="social-menu">
              <li class="list-inline-item"><a href="https://www.linkedin.com/company/iha_consulting_services_pvt_ltd"><i class="fa fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <!-- <li class="list-inline-item"><a href="#"><i class="fa fa-behance"></i></a></li> -->
              <!-- <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <!-- <div class="menus d-flex">
            <ul class="list-unstyled">
              <li> <a href="{% url 'profile' %}">My Account</a></li>
              <li> <a href="#">Add Listing</a></li>
              <li> <a href="#">Pricing</a></li>
              <li> <a href="#">Privacy &amp; Policy</a></li>
            </ul>
            <ul class="list-unstyled">
              <li> <a href="#">Our Partners</a></li>
              <li> <a href="#">FAQ</a></li>
              <li> <a href="#">How It Works</a></li>
              <li> <a href="{% url 'contact1' %}">Contact</a></li>
            </ul>
          </div> -->
        </div>
        <div class="col-md-4">
          <div class="latest-posts">
            {% for post in most_recent %}
            <a href="{{ post.get_absolute_url }}">
              <div class="post d-flex align-items-center">
                <div class="image">
                  {% if post.image %}
                      <img src="{{ post.image.url }}" alt="..." class="img-fluid">
                  {% else %}
                      <img src="https://www.yourdictionary.com/images/definitions/lg/6267.information.jpg" alt="..." class="img-fluid">
                  {% endif %}
                </div>
                <div class="title"><strong>{{post.title|truncatechars:20}}</strong><span class="date last-meta">{{ post.date }}</span></div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2020. All rights reserved. Iha blog site.</p>
          </div>
          <div class="col-md-6 text-right">
            <p>Made By:  <a href="https://www.linkedin.com/in/prathamesh-nagare-6b8a93176/" class="text-white">Prathamesh</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>