{% extends 'blog/base1.html' %}

{% load static %}

{% block content %}
    
<header class="header">
    <!-- Main Navbar-->
    <nav class="navbar navbar-expand-lg">
      <div class="search-area">
        <div class="search-area-inner d-flex align-items-center justify-content-center">
          <div class="close-btn"><i class="icon-close"></i></div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-8">
              
                <div class="form-group">
                  <form name="Searchform" method="GET" action="{% url 'search' %}" class="search-form">
                    <input type="search" name="search" placeholder="What are you looking for?">
                    <button type="submit" class="submit"><i class="icon-search" value="search"></i></button>
                  </form>
                </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <!-- Navbar Brand -->
        <div class="navbar-header d-flex align-items-center justify-content-between">
          <!-- Navbar Brand --><a href="/" class="navbar-brand">Iha Consulting Services</a>
          <!-- Toggle Button-->
          <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
        </div>
        <!-- Navbar Menu -->
        <div id="navbarcollapse" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="{% url 'contact1' %}" class="nav-link ">Contact Us</a>
            </li>
            <li class="nav-item"><a href="{% url 'post' %}" class="nav-link ">Blogs</a>
            </li>
            <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link ">My Profile</a>
            </li>
            <li  class="nav-item">
              {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="nav-link ">Logout </a>
              {% else %}
                <a href="{% url 'login' %}" class="nav-link ">Login</a>
              {% endif %}
            </li>
            <li  class="nav-item">
              <a class="nav-link "><strong><em> &nbsp; &nbsp; Welcome :  {{ user.get_username }}</strong></em></a>
            </li>
          </ul>
          <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
          <!-- <ul class="langs navbar-text"><a href="#" class="active">EN</a><span>           </span><a href="#">ES</a></ul> -->
        </div>
      </div>
    </nav>
</header>

    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
        <div class="container">
          <div class="row">
            <div class="container">  
            <h4>
                <strong><em>You are getting this page because of either of the two reasons:</em></strong><br>
                  <br><em>1.You haven't assigned permissions to write a blog.</em><br>
                  <em>2.You are not the author of the post you wish to edit.</em><br>
                  <em>(Please visit "contact us" page for permissions)</em><br>
                </em>
            </h4>
            </div>
          </div>   
        </div>
        </main>
        <aside class="col-lg-4">

          <!-- Widget [Search Bar Widget]-->
          <div class="widget search">
            <header>
              <h3 class="h6">Search the blog</h3>
            </header>
            <div class="form-group">
              <form name="Searchform" method="GET" action="{% url 'search' %}" class="search-form">
                <input type="search" name="search" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search" value="search"></i></button>
              </form>
            </div>
            <!-- <form  name="Searchform" method="GET" action="{% url 'search' %}"> 
              <input class= "serch_btn" type="text" name="search" placeholder="    Search" />
              <button class =serch_bt type = 'submit' value="search">search</button>
            </form> -->

          </div>

          <!-- Widget [Latest Posts Widget]        -->
          <!-- <div class="widget latest-posts">
            <header>
              <h3 class="h6">Latest Posts</h3>
            </header>
            <div class="blog-posts">
                {% for post in most_recent %}
                    <a href="{{ post.get_absolute_url }}">
                    <div class="item d-flex align-items-center">
                        <div class="image">
                            {% if post.image %}
                                <img src="{{ post.image.url }}" alt="..." class="img-fluid" style="height: 50px; width: 70px;">
                            {% else %}
                                <img src="https://www.yourdictionary.com/images/definitions/lg/6267.information.jpg" alt="..." class="img-fluid" style="height: 50px; width: 70px;">
                            {% endif %}
                        </div>
                    <div class="title"><strong>{{post.title|truncatechars:20}}</strong>
                        <div class="d-flex align-items-center">
                        <div class="views"><i class="icon-eye"></i> 500</div>
                        <div class="comments"><i class="icon-comment"></i>12</div>
                        </div>
                    </div>
                    </div>
                    </a>
                {% endfor %}
            </div>
          </div> -->

          <!-- Widget [Categories Widget]-->
          <!-- <div class="widget categories">
            <header>
              <h3 class="h6">Categories</h3>
            </header>
            {% for cat in categories %}
              <div class="item d-flex justify-content-between">
                <a href="{% url 'cat-page' cat.slug %}">{{ cat.name }}</a><span>12</span>
              </div>
            {% endfor %} -->
            
            <!-- <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
            <div class="item d-flex justify-content-between"><a href="#">Sales</a><span>8</span></div>
            <div class="item d-flex justify-content-between"><a href="#">Tips</a><span>17</span></div>
            <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div> -->
            
          <!-- </div> -->
          <!-- Widget [Tags Cloud Widget]-->
          <!-- <div class="widget tags">       
            <header>
              <h3 class="h6">Tags</h3>
            </header>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#" class="tag">#Business</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Technology</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Fashion</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Sports</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Economy</a></li>
            </ul>
          </div> -->
        </aside>
      </div>
    </div>
    
  {% endblock content %}
    
  
